<!DOCTYPE html>
<html>
    <header>
        <title>welcome</title>
        <script type="text/javascript">
            window.onload = function() {
                app.findData();
            }
      </script>
    </header>
    <body>
        <div >
            <h2>Welcome</h2>
            <%= add(10,20) %>
            <br>
            <p> <% var data = greet(); %></p>
            <%= data  %>
            <p>Last line</p>
            <br>
          
        </div>
    </body>
</html>