<!DOCTYPE html>
<html>
    <header>
        <title>welcome</title>
    </header>
    <body>
        <div>
            <h2>log Page </h2>
            <form method="POST" action="/Userlogout">
                <button type="submit" name="logout">logout</button>
            </form>
        </div>
    </body>
</html>