<!DOCTYPE html>
<html>
    <header>
        <title>welcome</title>
    </header>
    <body>
        <div>
            <h2>Welcome</h2>
            <%  if(userID){ %>
            <a href="/home">Home</a><br> 
            <% } %>
            <a href="/login">Login</a><br>
            <a href="/singup">singup</a>
        </div>
    </body>
</html>